<h1>New request for check sequence</h1>
<%= form_with scope: 'input_numbers', url: '/perfect_numbers/get_result', local: true do |form| %>
  <% @length_of_array.times do |i|%>
    <p>
      <%= 'A'+i.to_s %><br>
      <%= form.number_field 'A'+i.to_s  %><br>
    </p>
  <% end%>
  <p>
    <%= form.submit %>
  </p>
  <p>
    <%= @number %>
  </p>
<% end %>
